Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.2e5.com$ [NC]
RewriteRule ^(.*)$ http://2e5.com/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.(htm(l)?|php)\ HTTP/ 
rewriterule ^(([^/]+/)*)index\.(htm(l)?|php)$ http://2e5.com/$1 [R=301,L]

# remove multiple slashes anywhere in url 
RewriteCond %{REQUEST_URI} ^(.*)//(.*)$ 
RewriteRule . %1/%2 [R=301,L]

# php.ini -> 404
RedirectMatch 404 /php\.ini

# .htaccess -> 404
RedirectMatch 404 /\.ht

# .git -> 404
RedirectMatch 404 /\.git

# 480 weeks
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>
 
# 2 DAYS
#<FilesMatch "\.(xml|txt)$">
#Header set Cache-Control "max-age=172800, public, must-revalidate"
#</FilesMatch>
 
# 2 HOURS
#<FilesMatch "\.(html|htm)$">
#Header set Cache-Control "max-age=7200, must-revalidate"
#</FilesMatch>

RewriteCond %{HTTP_HOST} ^billra\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.billra\.com$
RewriteRule ^/?$ "http\:\/\/2e5\.com\/billra\.com\/CV_BillOlaRasmussen\.pdf" [R=301,L,E=nocache:1]
## Set the response header if the "nocache" environment variable is set
## in the RewriteRule above.
Header always set Cache-Control "no-store, no-cache, must-revalidate" env=nocache
## Set Expires too ...
Header always set Expires "Thu, 01 Jan 1970 00:00:00 GMT" env=nocache