table {
	border: 1px solid red;
}
th {
	border: 1px solid blue;
}
td {
	border: 1px solid black;
}
td.svgContainer {
	width: 400px;
	height: 400px;
	padding: 1px;
}
input {
	width: 50px;
}
svg.expand {
	width: 100%;
	height: 100%;
	display: block;
}
circle.moveable {
	cursor: move;
	stroke: blue;
	stroke-width: 4;
}
circle.yellow {
	fill: yellow;
}
circle.orange {
	fill: darkorange;
}
